<div *ngIf="!s">
  Sto caricando...
</div>
<div *ngIf="!!s" class="card w-100">
  <div class="card-header">
    Statistiche totali
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Persone totali <span class="badge badge-pill badge-info float-right">{{ s.totali }}</span></li>
    <li class="list-group-item">di cui maschi <span class="badge badge-pill badge-info float-right">{{ s.diCuiUomini }}</span></li>
    <li class="list-group-item">di cui femmine <span class="badge badge-pill badge-info float-right">{{ s.diCuiDonne }}</span></li>
    <li class="list-group-item">di cui altro <span class="badge badge-pill badge-info float-right">{{ s.diCuiAltri }}</span></li>
  </ul>
  <div class="card-header">
    Filtrati
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Persone totali <span class="badge badge-pill badge-info float-right">{{ s.totaliFiltrati }}</span></li>
    <li class="list-group-item">di cui maschi <span class="badge badge-pill badge-info float-right">{{ s.totaliFatturatiDiCuiUomini }}</span></li>
    <li class="list-group-item">di cui femmine <span class="badge badge-pill badge-info float-right">{{ s.totaliFatturatiDiCuiDonne }}</span></li>
    <li class="list-group-item">di cui altro <span class="badge badge-pill badge-info float-right">{{ s.totaliFatturatiDiCuiAltri }}</span></li>
  </ul>
</div>