<div class="card w-100">
  <div class="card-header">
    Statistiche totali
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Persone totali <span class="badge badge-pill badge-info float-right">10000</span></li>
    <li class="list-group-item">di cui maschi <span class="badge badge-pill badge-info float-right">230</span></li>
    <li class="list-group-item">di cui femmine <span class="badge badge-pill badge-info float-right">342</span></li>
    <li class="list-group-item">di cui altro <span class="badge badge-pill badge-info float-right">12</span></li>
  </ul>
  <div class="card-header">
    Filtrati
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Persone totali <span class="badge badge-pill badge-info float-right">1091</span></li>
    <li class="list-group-item">di cui maschi <span class="badge badge-pill badge-info float-right">34</span></li>
    <li class="list-group-item">di cui femmine <span class="badge badge-pill badge-info float-right">323</span></li>
    <li class="list-group-item">di cui altro <span class="badge badge-pill badge-info float-right">12</span></li>
  </ul>
</div>