<div class="container-fluid">
    <!-- ricerca-->
    <div class="row">
      <div class="col offset-lg-7 col-lg-5">
        <app-ricerca></app-ricerca>
      </div>
    </div>
  
    <!-- contenuto-->
    <div class="row">
      <!-- statistica-->
      <div class="col-lg-3">
        <app-statistica></app-statistica>
      </div>
      <!-- risultati-->
      <div class="col-lg-9">
        <!-- tabella-->
        <app-risultati-tabella></app-risultati-tabella>
        <!-- paginazione-->
        <app-risultati-paginazione></app-risultati-paginazione>
      </div>
    </div>
  
  </div>