<table class="table">
  <thead>
    <tr>
      <th scope="col">Cognome</th>
      <th scope="col">Nome</th>
      <th scope="col">Eta</th>
      <th scope="col">Sesso</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody *ngIf="!persone">
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
  </tbody>
  <tbody *ngIf="!!persone">
    <tr *ngFor="let p of persone">
      <td>{{ p.cognome }}</td>
      <td>{{ p.nome }}</td>
      <td>{{ p.eta }}</td>
      <!-- <td>{{ p.sesso | sexToChar }}</td> -->
      <td><app-sex [sesso] = "p.sesso"></app-sex></td>
      <td>
          <a routerLink="/editPersona/{{ p.cognome }}{{ p.nome }}" routerLinkActive="active">
            <fa-icon [icon]="faEdit"></fa-icon>
          </a>        
        <fa-icon [icon]="faTimes"></fa-icon>
      </td>
    </tr>    
  </tbody>
</table>